<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ejs.css">
    <title>Productos Faker</title>
</head>
<body>
    <nav>
        <div class="bienvenida">
            <h1>Bienvenido/a <%=user.username%> </h1>
            <div class="img">
                <img src="<%=user.url%>" alt="foto de perfil">
            </div>
        </div>
        <a class="cerrarSesion" href="/passport/logout">Cerrar Sesión</a>
    </nav>
    
    <div class="contenedorApi">

        <div class="tablaProctos">
            <h2 class="chatTitle">Tabla de Productos Faker</h2>
            <% if(api.length !== 0 ){ %>
                <%- include('../partials/tablaApi.ejs') %>
            <%}else{%>
                <h3 class="chatTitle">No ha encontrado datos</h3>
            <%}%>
        </div>
    
    
        <div class="tablaProctos">
            <h2 class="chatTitle">Productos de la tienda</h2>
            <% if(produtosLista.length !== 0 ){ %>
                <%- include('../partials/tablaProductos.ejs') %>
            <%}else{%>
                <h3 class="chatTitle">No ha encontrado datos</h3>
            <%}%>
            <button class="subirProducto"> <a href="/passport/verCarrito">Ver Carrito</a> </button>
        </div>
                
        <button class="botonAzul">
            <a href="/passport">Pagina de configuración, solo para administradores</a>
        </button>
    </div>
    

    <script src="/carrito.js"></script>
</body>
</html>