<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ejs.css">
    <title>Carrito</title>
</head>
<body>
    <nav>
        <div class="bienvenida">
            <h1>Bienvenido/a <%=user.username%> </h1>
            <div class="img">
                <img src="<%=user.url%>" alt="foto de perfil">
            </div>
        </div>
        <a class="cerrarSesion" href="/passport/logout">Cerrar Sesión</a>
    </nav>

    <div class="contenedorApi">
        <div class="tablaProctos">
            <h3 class="chatTitle">Pedidos</h3>
            <% if(pedidos && pedidos.length !== 0){ %>
                <%- include('../partials/tablaPedidos.ejs') %>
            <%}else{%>
                <h3 class="chatTitle">No tenes nada agregado al Carrito</h3>
            <%}%>
        </div>
    </div>

</body>
</html>