<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Realizada</title>
</head>
<body>
    <h3>Muchas Gracias por elegirnos</h3>
    <h4>No estaremos comunicando con usted desde su mail para mostrarle el proceso de su pedido muchas gracias</h4>
    <h4>Para comunicarte con el vendedor : <%=numeroVendedor%> </h4>
    <h3>Redirigiendo en <span id="time">10</span> segundos</h3>
    <script src="/logout.js"></script>
    
</body>
</html>