<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Muy Importante para el uso de Socket.io agregar este script -->
    <script src="https://unpkg.com/ejs@3.1.8/ejs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/ejs.css">
    <title>CursoBackEnd</title>
</head>
<body>
    <nav>
        <div class="bienvenida">
            <h1>Bienvenido/a <%=user.username%> </h1>
            <div class="img">
                <img src="<%=user.url%>" alt="foto de perfil">
            </div>
        </div>
        <a class="cerrarSesion" href="/passport/logout">Cerrar Sesión</a>
    </nav>
    <div class="catalogoProductos">
        <button>
            <a href="/passport/api">Ver Productos de la tienda</a>
        </button>
    </div>

    <div class="containerAdmin">
        <div  class="tablaProctos">
            <h2 class="textForm">Ingrese Nuevo Producto</h2>
            <%- include('../partials/formulario.ejs') %>
            <% if(produtosLista.length !== 0 ){ %>
                <%- include('../partials/tablaProductosAdmin.ejs') %>
            <%}else{%>
                <h3 class="textForm">No ha encontrado datos</h3>
            <%}%>
        </div>
    
        
        <!-- CHAT GLOBAL -->
        <div class="chatGlobal">
            <div class="formMensaje">
                <h2 class="chatTitle">Centro de Mensajes</h2>
                <h3 class="chatTitle">Escribe tu mensaje</h3>
                <form onsubmit="return addMensaje(this)" id="mensaje" autocomplete="off">
                    <div id="inputFormulario">
                        <label for="nombreMensaje"class="chatTitle">Nombre</label>
                        <input type="text" name="nombreMensaje" id="nombreMensaje">
                    </div>
                    <div id="inputFormulario">
                        <label for="text" class="chatTitle">Ingrese su mensaje</label>
                        <input type="text" name="text" id="text">
                    </div>
                    <button class="subirProducto">Enviar Mensaje</button>
                </form>
            </div>
            <div id="mostrarMensajes"></div>
        </div>
    </div>
    



    <script src="/main.js"></script>
</body>
</html>