<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <h1>Hasta luego <%=user%>!!</h1>
    <h3>Esperamos que vuelvas pronto!</h3>
    <h3>Redirigiendo en <span id="time">2</span> segundos</h3>
    <script src="/logout.js"></script>
</body>
</html>